CompileFlags:
  Add:
    - -std=c11
    - -ffreestanding
    - -I/home/segfault/wildnix/wildnix-next/include
    - -I/home/segfault/limine-bin
    - -mno-red-zone
    - -mgeneral-regs-only
    - -mcmodel=kernel
